
*.resources
*.dll
*.lock
*.ide
*.ide-shm
*.ide-wal
*.nupkg
*.pdb
/packages
*.cache
/UrbanBooks.Common/bin
/UrbanBooks.Common/obj
/UrbanBooks.Data/bin
/UrbanBooks.Data/obj
/UrbanBooks.Entity/obj
/UrbanBooks.Entity/bin
/UrbanBooks.Service/bin
/UrbanBooks.Service/obj
/UrbanBooks/bin
/UrbanBooks/obj
.vs/config/applicationhost.config
.vs/config/applicationhost.config
UrbanBooks.Entity/UrbanBooks.Entity.csproj
UrbanBooks/UrbanBooks.Web.csproj
UrbanBooks/UrbanBooks.Web.csproj.user
UrbanBooks/Web.config
UrbanBooks/UrbanBooks.Web.csproj.user
UrbanBooks/UrbanBooks.Web.csproj
.vs/config/applicationhost.config
.vs/UrbanBooks/v15/.suo
.vs/config/applicationhost.config
UrbanBooks/UrbanBooks.Web.csproj
UrbanBooks/UrbanBooks.Web.csproj.user
UrbanBooks/UrbanBooks.Web.csproj
.vs/config/applicationhost.config
UrbanBooks.Web/bin/UrbanBooks.Data.dll.config
UrbanBooks.Web/obj/Debug/UrbanBooks.Web.csproj.CopyComplete
