.imgTagLine {
    height: 300px;
    width: 100%;
}

.container {
    padding: 0px;
    margin: 0px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

#purchaserInformation label {
    text-align: right;
    padding-top: 5px;
}

body {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-fixed-top {
    margin-left: 20px;
    margin-right: 20px;
}

.alignRight {
    text-align: right;
}

input, textarea{
    max-width: 500px;
}

